.git
.gitignore
**/.DS_Store
**/Thumbs.db
**/tmp/
**/temp/
**/*_test.go
**/test/
**/tests/
**/*.test
**/*.log
**/*.out
**/.idea/
**/.vscode/
**/*.swp
**/*.swo
Dockerfile
.dockerignore
**/*.md
LICENSE
README*
bin/
build/
**/vendor/ 